* text=auto
* text eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

/.github export-ignore
CHANGELOG.md export-ignore
