// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Frameworks
//@import '~bootstrap/scss/bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;