@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', 'Noto Sans', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif';
}

.-ml-0\.5 {
    margin-left: -0.125rem;
}

.mt-2\.5 {
    margin-top: 0.625rem;
}

.w-3\/7 {
    width: 42.8571%;
}

.w-4\/7 {
    width: 57.1428%;
}

.border-1\.5 {
    border-width: 1.5px;
}

button {
    transition: color, background-color 0.2s;
}

button:focus {
    outline: none;
}

.button {
    @apply border-2 border-orange-600 text-orange-600 bg-white rounded-lg
        outline-none leading-tight font-semibold text-base px-2 py-1 font-sans;
    .button-icon {
        @apply hidden;
    }
}

@screen md {
    .button {
        @apply text-xl px-4;
        .button-icon {
            @apply mr-1 fill-current align-middle inline-block;
            width: 1.1rem;
            margin-top: -0.3rem;
        }
    }
}

.button.red {
    @apply border-red-500 text-red-500;
}

.button.gray {
    @apply border-gray-600 text-gray-600;
}

.button-icon.remix {
    width: 1.25rem;
}

.button:hover {
    @apply bg-orange-600 text-white;
}

.button.red:hover {
    @apply bg-red-500;
}

.button.gray:hover {
    @apply bg-gray-600;
}

input.input {
    @apply border-2 border-gray-400 rounded appearance-none outline-none w-full text-gray-700;
    padding: 0.675rem 0.75rem;
    line-height: 1.15;
}

input.input:focus {
    @apply border-orange-600;
}

label.label {
    @apply block text-gray-600 font-semibold text-sm uppercase mb-2;
}

.router-fade-enter-active, .router-fade-leave-active {
    transition: opacity .2s ease;
}

.router-fade-enter, .router-fade-leave-to {
    opacity: 0;
}

.open-sans {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.ProseMirror {
    h1 {
        @apply my-2 text-3xl font-bold;
    }
    h2 {
        @apply my-1 text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-semibold;
        margin: 0.25rem 0;
    }
    p {
        line-height: 1.45;
    }
    a {
        @apply underline text-blue-600;
    }
    blockquote {
        @apply italic border-gray-500 my-1 pl-2 text-gray-700;
        border-left-width: 3px;
    }
    ul, ol {
        padding: 0 1.25rem;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul[data-type=taskList] {
        list-style: none;
        padding: 0;
        li {
            display: flex;
            padding: 0;
            input {
                @apply w-4 h-4 appearance-none align-middle bg-gray-200 rounded border border-gray-400;
                margin-top: -0.2rem;
            }
            input:checked {
                @apply bg-orange-600 border-orange-600;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik05IDE2LjE3TDQuODMgMTJsLTEuNDIgMS40MUw5IDE5IDIxIDdsLTEuNDEtMS40MXoiLz48L3N2Zz4=);
            }
            div {
                @apply ml-4;
            }
        }
    }
    li {
        padding: 0 0.25rem;
    }
    hr {
        @apply mt-4 mb-4;
        border-top: 2px solid #e6e6e6;
    }
}